<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <title>Error</title>
</head>
<body>
<div class="text">
    <div>ERROR</div>
    <h1 th:text="${code}">404</h1>
    <hr>
    <div th:text="${message}">Page Not Found</div>
</div>

<div class="astronaut">
    <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
</div>
    <script th:src="@{/js/error.js}"></script>
</body>
</html>