<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main-manager}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Religion</title>
</head>

<body id="body-pd">
    <main>
        <section layout:fragment="content">
            <br>
            <div class="d-flex justify-content-end"><button class="btn btn-success"> ADD RELIGION </button></div>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <table class="table table-hover table-bordered w-100" id="table-religion">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Religion</th>
                        </tr>
                    </thead>
                    <tbody class="table-striped">
                        <tr th:each="lr : ${religions}">
                            <td th:text="${lr.id}">id</td>
                            <td th:text="${lr.name}">name</td>
                            <td class="icon">
                                <a th:href="@{/lr/update/{id} (id = ${lr.id})}" class="edit">
                                    <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

</body>

</html>