<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main-manager}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Action LeaveRequest</title>

  <link rel="stylesheet" th:href="@{/css/approve.css}">
</head>

<body id="body-pd">




  <!--Container Main start-->
  <main>
    <section layout:fragment="content">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <table class="table table-hover table-bordered w-100" id="table-action">
            <thead>
              <tr>
                <th>Id</th>
                <th>Employee</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Qty</th>
                <th>Reason</th>
                <th>Attachment</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr th:each="lr : ${leaveRequests}">
                <td th:text="${lr.id}">id</td>
                <td th:text="${lr.employee.name}">name</td>
                <td th:text="${lr.leaveType.name}">leave type</td>
                <td th:text="${#dates.format(lr.dateStart, 'dd-MM-yyyy')}">start date</td>
                <td th:text="${#dates.format(lr.dateEnd, 'dd-MM-yyyy')}">end date</td>
                <td th:text="${lr.quantity}">quantity</td>
                <td th:text="${lr.reason}">reason</td>
                <td th:text="${lr.attachment}">attachment</td>
                <td th:text="${lr.statusAction.name}">status action</td>
                <td class="icon">
                  <form th:action="@{/leave-request/reject/{id} (id = ${lr.id})}" th:method="PUT">
                    <button onclick="return confirm('Are u sure want to Reject this leave request!!!!')" type="submit"
                      class="btn btn-danger px-5 py-2">Reject</button>
                  </form>
                  <form th:action="@{/leave-request/accept/{id} (id = ${lr.id})}" th:method="PUT">
                    <button onclick="return confirm('Are u sure want to Accept this leave request!!!!')" type="submit"
                      class="btn btn-success px-5 py-2">Accept</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </main>

  <th:block layout:fragment="script">
    <script th:src="@{/js/approveLeaveRequest.js}"></script>
  </th:block>


</body>

</html>