<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main-manager}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Tracking</title>

</head>

<body id="body-pd">
    <section layout:fragment="content">

        <div class="d-flex justify-content-center mt-5 mb-2 fw-bold"> Tracking Employee </div>
        <table class="table table-primary table-hover table-bordered w-100" id="table-tracking-employee">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Employee</th>
                    <th>Leave Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Qty</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-light">
            </tbody>
        </table>

        <!-- Modal Attachment-->
        <div class="modal fade modal-show" id="attachment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog attachment">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Attachment</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="" id="image">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .attachment{
                max-width: max-content;
            }
        </style>

    </section>

    <th:block layout:fragment="script">
        <script th:src="@{/js/managerTracking.js}"></script>
    </th:block>

</body>

</html>