<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main-manager}">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Leave Request</title>
</head>

<body id="body-pd">
    <section layout:fragment="content">
        <div class="container-fluid position-relative mt-3">
            <br>
            <div class="container">
                <form enctype="multipart/form-data"
                    class="w-100 border px-4 py-5 rounded-2 shadow-lg mt-3 mb-5 bg-light" th:action="@{/leave-request}"
                    th:object="${leaveRequestRequest}" th:method="POST">
                    <div class="alert alert-danger" role="alert" th:text="${message}"
                        th:attr="style=${message == '' ? 'display:none' : ''}">
                    </div>
                    <div class="row">
                        <h1 style="color: #4723D9;">Create Leave Request</h1>
                        <div class="col-3">
                            <div class="mb-3">
                                <label for="dateStart" class="input-field">Leave Type</label>
                                <select class="form-select" th:field="*{leaveTypeId}">
                                    <option th:each="leaveTypes : ${leaveType}" th:value="${leaveTypes.id}"
                                        th:text="${leaveTypes.name}">Leave Type
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr style="color: transparent;">
                        <div class="col-6 mb-3">
                            <label for="dateStart" class="input-field">Date Start</label>
                            <input type="date" id="dateStart" class="form-control" th:field="*{dateStart}" required>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="dateEnd" class="input-field">Date End</label>
                            <input type="date" id="dateEnd" class="form-control" th:field="*{dateEnd}" required>
                        </div>

                        <div class="alert alert-info" th:each="lr : ${leaveRemaining}"
                            style="margin-left: 10px; width:1250px; height: 120px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                            LEAVE REMAINING
                            <p></p>
                            <div class="row">

                                <div class="col-3">
                                    <h6>Past Remaining</h6>
                                    <h6>(Last Year)</h6>
                                    <label for="id2" class="form-label"></label>
                                </div>
                                <div class="col">
                                    <p id="id2">: <span th:text="${lr.pastRemaining}"></span></p>
                                </div>
                                <div class="col-3">
                                    <h6>Present Remaining</h6>
                                        <h6>(This Year)</h6>
                                    <label for="code3" class="form-label"></label>
                                </div>
                                <div class="col">
                                    <p id="code3">: <span th:text="${lr.presentRemaining}"></span></p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="input-field">Quantity</label>
                            <input type="number" class="form-control" th:field="*{quantity}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="reason" class="input-field">Reason</label>
                            <!-- <input type="text" class="form-control" style="height: 80px;" th:field="*{reason}"> -->
                            <textarea class="form-control" style="height: 100px;" th:field="*{reason}"></textarea>
                        </div>
                        <div class="col-3 mb-3">
                            <label for="attachment" class="input-field">Attachment</label>
                            <input type="file" class="form-control" accept="image/png, image/jpeg, image/jpg"
                                id="attachment" name="attachment">
                        </div>

                        <div class="d-flex justify-content-between">
                            <a th:href="@{/leave-request-status/tracking}" class=" btn btn-danger btn-lg px-4 py-1"
                                role="button">Back</a>
                            <button type="submit" class="btn btn-primary btn-lg px-3 py-1">Submit</button>
                        </div>


                        <div class="col-4 mt-5">

                        </div>
                    </div>

                </form>


            </div>
        </div>


    </section>


    <th:block layout:fragment="script">
        <script th:src="@{/js/leaveRequest.js}"></script>
    </th:block>

</body>

</html>