<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main-manager}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Tracking</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
</head>

<body id="body-pd">
    <section layout:fragment="content">

        <div class="d-flex justify-content-center mt-5 mb-2 fw-bold"> Tracking Request </div>
        <table class="table table-light table-hover table-bordered w-100" id="table-tracking">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Employee</th>
                    <th>Leave Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Qty</th>
                    <th>Attachment</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                <!-- <tr th:each="lrs : ${leaveRequestStatuses}">
                    <td th:text="${lrs.id}">id</td>
                    <td th:text="${lrs.note}">note</td>
                    <td th:text="${#dates.format(lrs.date, 'dd-MM-yyyy')}">date</td>
                    <td th:text="${lrs.pic.name}">pic</td>
                    <td th:text="${lrs.statusAction.name}">status action</td>
                    <td>
                        <button type="button" class="btn btn-primary show-past-actions-btn"
                            th:data-lr-id="${lrs.leaveRequest.id}">
                            Show Past Actions
                        </button>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade modal-show" id="pastActionsModal" tabindex="-1" aria-labelledby="pastActionsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="pastActionsModalLabel">Past Actions</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <p id="past-info"></p>
                        </div>
                        <!-- <table class="table table-light table-hover table-bordered w-100" id="pastActionsTable">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Note</th>
                                    <th>Date</th>
                                    <th>PIC</th>
                                    <th>Status Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <th:block layout:fragment="script">
        <script th:src="@{/js/selfTracking.js}"></script>
    </th:block>
</body>

</html>